<%- include('./partials/header.ejs'); -%>
    <div class="container">
      <div class="header">
        <h1>SHORTY</h1>
        <p>Your URL Shortener</p>
      </div>

      <div class="wrapper">
        <form action="/shortURLs" method="post" class="my-4 form-inline">
          <label for="fullURL" class="visually-hidden">URL</label>
          <input
            type="url"
            name="fullURL"
            id="fullURL"
            placeholder="Enter your URL"
            required
            class="form-control mr-2 col"
          />
          <br />
          <input
            type="customName"
            name="customName"
            id="customNameUrl"
            placeholder="Customise your link"
            minlength="5"
            maxlength="15"
            class="form-control mr-2 col"
          />
          <br />
          <div class="text-center d-grid gap-2">
            <button type="submit" class="btn btn-warning">Shorten It</button>
          </div>
        </form>
      </div>

      <div class="cover">
        <table class="table table-stripped table-responsive table-info">
          <thead>
            <tr>
              <th>SNo.</th>
              <th>Full URL</th>
              <th>Short URL</th>
              <th>Clicks</th>
              <th>Created On</th>
            </tr>
          </thead>
          <tbody>
            <% shortUrls.forEach((shortUrl,index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td>
                <a href="<%= shortUrl.full %>">
                  <% if (shortUrl.full.length > 60) { %> <%=
                  shortUrl.full.substring(0, 60) + "..." %> <% } else { %> <%=
                  shortUrl.full %> <% } %>
                </a>
              </td>
              <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
              <td><%= shortUrl.clicks %></td>
              <td><%= new Date(shortUrl.createdAt).toLocaleString() %></td>
            </tr>
            <%});%>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('./partials/footer.ejs'); -%>